version: "3.9"

services:
  app:
    build: .
    labels:
      - traefik.enable=true
      - traefik.http.routers.app_route.entrypoints=http
      - traefik.http.routers.app_route.rule=PathPrefix(`/`)
      - traefik.http.routers.app_route.service=app_service
      - traefik.http.services.app_service.loadbalancer.server.port=80
    networks:
      - traefik_public
    environment:
      - DB_URL=mongodb://user:test@mongodb:27017
    depends_on:
      - mongodb

  mongodb:
    image: "mongo"
    container_name: "mongodb"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=user
      - MONGO_INITDB_ROOT_PASSWORD=test

    networks:
      - traefik_public
#    ports:
#      - "27017:27017"

  prometheus:
    image: prom/prometheus
    networks: 
      - traefik_public
    volumes:
      - "./config:/etc/prometheus"
#    ports:
#      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"
#    environment:
#      - GF_INSTALL_PLUGINS=redis-app
    volumes:
      - "./config/grafana/datasources:/etc/grafana/provisioning/datasources"
      - "./config/grafana/dashboards:/etc/grafana/provisioning/dashboards"
    networks:
      - traefik_public

  traefik:
    image: traefik:v2.6
    ports:
      - "8080:8080"
      - "80:80"
    volumes:
      - "./config/traefik.yml:/etc/traefik/traefik.yml"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: unless-stopped
    networks:
      - traefik_public


networks:
  traefik_public:
    driver: bridge